<section class="app-review-section">

  <div class="row align-items-center ma-bg-darkSnow">
    <div class="col-6">
      <img style="width: 100%; height:100%;" src="./../../assets/images/home2.jpg" alt="Casa de Maria Angelica">
      <div class="position-absolute textShadow-close" style="bottom: 10px; left: 30px;">
        <div class="fontSize-lg color-white">
          Envigado, Antioquia
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-4 d-flex justify-content align-items-center flex-column">

        <! Connector >
        <div class="d-flex flex-column align-self-center align-items-center mb-1">
          <div class="fontSize-md fontWeight-9 fontFamily-quicksand color-silver mb-2">
            ASESORÓ A
          </div>
          <div>
            <i-users class="color-negative"></i-users>
          </div>
        </div>

        <div class="d-flex justify-content-around mb-5">

          <! Advicer >
          <div class="text-center mr-5" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md border-4 borderColor-lightPrimary borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user2.jpg" 
                    alt="Patricia Molina" />
            </div>
            <div class="fontSize-lg ml-2">
              Patricia Molina
            </div>
            <div class="fontSize-md color-silver ml-2">
              Consultor inmobiliario de La Haus
            </div>
          </div>
  
          <! Owner >
          <div class="text-center" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user1.jpg" 
                    alt="Maria Angelica" />
            </div>
            <div class="fontSize-lg ml-2">
              Maria Angelica
            </div>
            <div class="fontSize-md color-silver ml-2">
              Compro casa con La Haus, 2017
            </div>
          </div>
        </div>

        <! Small line >
        <div class="d-flex flex-column align-self-center align-items-center mb-3">
          <div class="borderTop-2 borderTopStyle-solid borderColor-slate" style="width: 30px;"></div>
        </div>

        <! Review >
        <div class="text-center fontSize-xl color-silver">
            <blockquote class="position-relative m-0">
              <p class="quotation"> 
                Patricia fue un angél para mi, ya que tengo cero experiencia en comprar casa, 
                esta era mi primera casa, y tenia mucho miedo de que las cosas no salieran bien.
                Pero la verdad todo salio de maravilla. :)
              </p>
            </blockquote> 
        </div>

      </div>
    </div>
  </div>

  <div class="row align-items-center ma-bg-darkSnow">
    <div class="col-6">
      <div class="p-4 d-flex justify-content align-items-center flex-column">

        <! Connector >
        <div class="d-flex flex-column align-self-center align-items-center mb-1">
          <div class="fontSize-md fontWeight-9 fontFamily-quicksand color-silver mb-2">
              ASESORÓ A
          </div>
          <div>
            <i-users class="color-negative"></i-users>
          </div>
        </div>

        <div class="d-flex justify-content-around mb-5">

          <! Advicer >
          <div class="text-center mr-5" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md border-4 borderColor-lightPrimary borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user4.jpg" 
                    alt="Raul Garcia" />
            </div>
            <div class="fontSize-lg ml-2">
              Raul Garcia
            </div>
            <div class="fontSize-md color-silver ml-2">
              Consultor inmobiliario de La Haus
            </div>
          </div>
  
          <! Owner >
          <div class="text-center" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user3.jpg" 
                    alt="Ricardo Ruiz" />
            </div>
            <div class="fontSize-lg ml-2">
              Ricardo Ruiz
            </div>
            <div class="fontSize-md color-silver ml-2">
              Compro apartamento con La Haus, 2016
            </div>
          </div>
        </div>

        <! Small line >
        <div class="d-flex flex-column align-self-center align-items-center mb-3">
          <div class="borderTop-2 borderTopStyle-solid borderColor-slate" style="width: 30px;"></div>
        </div>

        <! Review >
        <div class="text-center fontSize-xl color-silver">
            <blockquote class="position-relative m-0">
              <p class="quotation"> 
                Le comente a un amigo que deseaba comprar casa, y lo primero que me 
                dijo fue: prueba La Haus. Y bueno la verdad fue una buena experiencia. 
                El apoyo que brindan es muy bueno.
              </p>
            </blockquote> 
        </div>

      </div>
    </div>
    <div class="col-6">
      <img style="width: 100%; height:100%;" src="./../../assets/images/home4.jpg" alt="Casa de Maria Angelica">
      <div class="position-absolute textShadow-close" style="bottom: 10px; left: 30px;">
        <div class="fontSize-lg color-white">
          La Mota, Belén, Antioquia
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center ma-bg-darkSnow">
    <div class="col-6">
      <img style="width: 100%; height:100%;" src="./../../assets/images/home5.jpg" alt="Casa de Maria Angelica">
      <div class="position-absolute textShadow-close" style="bottom: 10px; left: 30px;">
        <div class="fontSize-lg color-white">
          Modelia, Bogotá, Cundinamarca
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-4 d-flex justify-content align-items-center flex-column">

        <! Connector >
        <div class="d-flex flex-column align-self-center align-items-center mb-1">
          <div class="fontSize-md fontWeight-9 fontFamily-quicksand color-silver mb-2">
            ASESORÓ A
          </div>
          <div>
            <i-users class="color-negative"></i-users>
          </div>
        </div>

        <div class="d-flex justify-content-around mb-5">

          <! Advicer >
          <div class="text-center mr-5" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md border-4 borderColor-lightPrimary borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user6.jpg" 
                    alt="Maria Alejandra" />
            </div>
            <div class="fontSize-lg ml-2">
              Maria Alejandra
            </div>
            <div class="fontSize-md color-silver ml-2">
              Consultor inmobiliario de La Haus
            </div>
          </div>
  
          <! Owner >
          <div class="text-center" style="width: 160px;">
            <div class="ma-avatar ma-avatar--md borderRadius-circle ml-2">
                <img width="70" height="70"
                    src="./../../assets/images/avatars/user5.jpg" 
                    alt="William Alvarez" />
            </div>
            <div class="fontSize-lg ml-2">
              William Alvarez
            </div>
            <div class="fontSize-md color-silver ml-2">
              Compro apart. con La Haus, 2017
            </div>
          </div>
        </div>

        <! Small line >
        <div class="d-flex flex-column align-self-center align-items-center mb-3">
          <div class="borderTop-2 borderTopStyle-solid borderColor-slate" style="width: 30px;"></div>
        </div>

        <! Review >
        <div class="text-center fontSize-xl color-silver">
            <blockquote class="position-relative m-0">
              <p class="quotation"> 
                Fue una experiencia muy interesante, pues este es mi tercer apartamento, 
                y siempre hacia el proceso solo. Gracias al apoyo de Maria Alejandra 
                ahorre mucho tiempo.
              </p>
            </blockquote> 
        </div>

      </div>
    </div>
  </div>

</section>
