<div class="app-rent-calcutator fontFamily-sourceSansPro ma-bg-white p-4 borderRadius-sm boxShadow-float">

  <p class="fontSize-xxl lineHeight-6 color-slate fontWeight-6 m-0 mb-4">
    Descubre cuanto has gastado en arriendo toda tu vida
  </p>

  <div class="ma-select-container mb-3" style="width: 100%;">
    <select class="ma-select ma-select--lg ma-select--block ma-select--input"
            [(ngModel)]="model.year" name="year">
      <option value="" disabled selected>
        Años pagando arriendo
      </option>
      <option value="1">1 año</option>
      <option value="2">2 años</option>
      <option value="3">3 años</option>
      <option value="4">4 años</option>
      <option value="5">5 años</option>
      <option value="6">6 años</option>
      <option value="7">7 años</option>
      <option value="8">8 años</option>
      <option value="9">9 años</option>
      <option value="10">10 años</option>
      <option value="11">11 años</option>
      <option value="12">12 años</option>
      <option value="13">13 años</option>
      <option value="14">14 años</option>
      <option value="15">15 años</option>
      <option value="16">16 años</option>
      <option value="17">17 años</option>
      <option value="18">18 años</option>
      <option value="19">19 años</option>
      <option value="20">20+ años</option>
    </select>
    <i-chevron-down class="icon"></i-chevron-down>
  </div>

  <div class="ma-select-container mb-3" style="width: 100%;">
    <select class="ma-select ma-select--lg ma-select--block ma-select--input"
            [(ngModel)]="model.amount" name="amount">
      <option value="" disabled selected>
        Valor promedio del arriendo
      </option>
      <option value="600000">$600.000</option>
      <option value="700000">$700.000</option>
      <option value="800000">$800.000</option>
      <option value="900000">$900.000</option>
      <option value="1000000">$1'000.000</option>
      <option value="1100000">$1'100.000</option>
      <option value="1200000">$1'200.000</option>
      <option value="1300000">$1'300.000</option>
      <option value="1400000">$1'400.000</option>
      <option value="1500000">$1'500.000</option>
      <option value="1600000">$1'600.000</option>
      <option value="1700000">$1'700.000</option>
      <option value="1800000">$1'800.000</option>
      <option value="1900000">$1'900.000</option>
      <option value="2000000">$2'000.000+</option>
    </select>
    <i-chevron-down class="icon"></i-chevron-down>
  </div>
  
  <div *ngIf="model.total !== 0">
    <div class="fontSize-xxxxl color-negative fontWeight-9 lineHeight-7">
      {{model.total | currency:'USD':true:'1.0'}}
    </div>
  
    <p class="fontSize-xl color-negative m-0 mb-3">
        {{model.message}}
    </p>
  </div>

  <div *ngIf="model.total == 0">
    <hr style="margin: 44px 0;">
  </div>
  
  <button class="ma-btn ma-btn--primary ma-btn--lg ma-btn--block"
          (click)="calculate();">
    Comencemos a gestionar tu casa
  </button>
  
</div>
