<section class="app-how-it-work-section p-5">

  <! Title >
  <div class="row mb-5 pl-4 mt-4">
    <div class="col">
      <div class="fontSize-xxxl fontWeight-7 color-slate">Como funciona La Haus</div>
    </div>
  </div>

  <! Step: Search >
  <div class="row align-items-center" style="margin-bottom: 120px;">
    <div class="col-6 pr-5">
      <div class="row align-items-center">
        <div class="col-2">
          <div class="fontFamily-openSans color-secondary fontWeight-9" style="font-size: 100px;">1</div>
        </div>
        <div class="col-10 pr-4">
          <h2 class="m-0 mb-4 lineHeight-6 pr-5 color-slate">
            Escoge las opciones que más te enamoren
          </h2>
          <p class="fontSize-xl color-silver m-0 pr-5">
            Dentro de <span class="color-primary fontWeight-7">La Haus</span> podrás encontrar 500+ opciones de vivienda. 
            Podrás escoger las opciones que más te gusten, y hacer una lista 
            de las elegidas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img height="400" src="./../../assets/images/choose.jpg" alt="How it works section">
    </div>
  </div>

  <! Step: Visit >
  <div class="row align-items-center" style="margin-bottom: 120px;">

    <div class="col-6 pr-5">
      <img style="position: relative; right: 35px;" height="400" src="./../../assets/images/drive.jpg" alt="How it works section">
    </div>

    <div class="col-6">
      <div class="row align-items-center">
        <div class="col-2">
          <div class="fontFamily-openSans color-secondary fontWeight-9" style="font-size: 100px;">2</div>
        </div>
        <div class="col-10 pr-4">
          <h2 class="m-0 mb-4 lineHeight-6 pr-5 color-slate">
            Te llevamos a ver cada una de tus opciones
          </h2>
          <p class="fontSize-xl color-silver m-0 pr-5">
            Te iremos a buscar y dedicaremos todo un día a ver una a una las opciones que tienes en mente, para que así no tengas que preocuparte por el transporte.
          </p>
        </div>
      </div>
    </div>

  </div>

  <! Step: Dashboard >
  <div class="row align-items-center" style="margin-bottom: 120px;">
    <div class="col-6 pr-5">
      <div class="row align-items-center">
        <div class="col-2">
          <div class="fontFamily-openSans color-secondary fontWeight-9" style="font-size: 100px;">3</div>
        </div>
        <div class="col-10 pr-4">
          <h2 class="m-0 mb-4 lineHeight-6 pr-5 color-slate">
            Verifica el estado actual de tu proceso en tiempo real
          </h2>
          <p class="fontSize-xl color-silver m-0 pr-5">
            Uno de los más grandes problemas a la hora de comprar casa es no poder saber a ciencia cierta en que etapa se encuentra mi proceso.
            Desde el momento en que te ves tus opciones, hasta el momento en que te entregan las llaves.
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img height="400" src="./../../assets/images/verified.jpg" alt="How it works section">
    </div>
  </div>

  <! Step: Receive Key >
  <div class="row align-items-center mb-4">

      <div class="col-6 pr-5">
        <img style="position: relative; right: 35px;" height="400" src="./../../assets/images/home.jpg" alt="How it works section">
      </div>
  
      <div class="col-6">
        <div class="row align-items-center">
          <div class="col-2">
            <div class="fontFamily-openSans color-secondary fontWeight-9" style="font-size: 100px;">4</div>
          </div>
          <div class="col-10 pr-4">
            <h2 class="m-0 mb-4 lineHeight-6 pr-5 color-slate">
              Recibe las llaves de tu nuevo hogar.
            </h2>
            <p class="fontSize-xl color-silver m-0 pr-5">
              Después de haber monitoreado todo el proceso, ahora solo queda firmar las escrituras, y disfrutar tu nuevo hogar.
            </p>
          </div>
        </div>
      </div>
  
    </div>

</section>
