<section class="app-compare-section p-5" style="background-color: rgba(184, 207, 236, 0.52); background-image: linear-gradient(0deg, rgba(255,255,255,1.00) 0%, rgba(255,255,255,0.91) 18%, rgba(255,255,255,0.00) 100%) !important;">
  
  <! Title >
  <div class="row mb-5 pl-4 mt-4">
    <div class="col">
      <div class="fontSize-xxxl fontWeight-7 color-slate">Por que La Haus?</div>
    </div>
  </div>

  <! Compare table >
  <div class="fontFamily-sourceSansPro ma-bg-white px-4 borderRadius-sm boxShadow-raised">
    <table class="table color-silver fontSize-xl fontFamily-quicksand">
      <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <thead>
        <tr class="text-center lineHeight-5 align-middle">
          <th class="align-middle p-4 border-top-0" scope="col"></th>
          <th class="align-middle p-4 border-top-0" scope="col"><span class="borderBottom-2 borderBottomStyle-solid borderColor-secondary color-mirage">La Haus</span></th>
          <th class="align-middle p-4 border-top-0" scope="col">Inmobiliarias tradicionales</th>
          <th class="align-middle p-4 border-top-0" scope="col">Asesores independientes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="p-5" scope="row">
            Variedad de opciones de vivienda
          </th>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
        </tr>
        <tr>
          <th class="p-5" scope="row">Acompañamiento 24/7</th>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
        </tr>
        <tr>
          <th class="p-5" scope="row">Visibilidad 100% del stado actual del proceso de compra</th>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
        </tr>
        <tr>
          <th class="p-5" scope="row">Asume los gastos de transporte al momento de ver cada opción</th>
          <td class="text-center align-middle"><i-check class="icon color-positive"></i-check></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
          <td class="text-center align-middle"><i-x class="icon color-negative"></i-x></td>
        </tr>
      </tbody>
    </table>
  </div>

</section>