<section class="app-contact-section">

  <div class="square"></div>

    <div class="row align-items-center py-5" style="background-color: rgba(184, 207, 236, 0.28);">
      <div class="col py-5">

        <div class="p-4 d-flex justify-content align-items-center flex-column">
  
          <! Text >
          <div class="text-center mb-4">
              <p class="m-0 lineHeight-5 fontSize-xxl fontWeight-5 color-slate" style="width: 530px;"> 
                Aún no estas seguro si comprar vivienda? No te preocupes nosotros te asesoramos
                sin ningún costo.
              </p>
          </div>

          <! Form >
          <div class="d-flex align-items-center mt-1">
            <input type="text" class="ma-input ma-input--md mr-3" placeholder="Escribir tu email" />
            <button class="ma-btn ma-btn--md ma-btn--primary">Solicitar consejos gratis</button>
          </div>

        </div>
      </div>
    </div>
  
  </section>
  