<section class="app-puv-section ma-hero">
    
    <div class="poster poster--main"></div>
    
    <!--video class="hidden-xs video-hero"
        autoplay loop muted poster="./../../assets/images/hero3.jpg">
        <source data-src="./../../assets/images/video3.mp4"
                type="video/mp4" src="./../../assets/images/video3.mp4">
    </video-->

    <div class="row align-items-center">
        <div class="col-6 text-left pl-5">
            <div class="fontSize-xxxl lineHeight-6 fontWeight-7 px-5 textShadow-close mb-3">
                Comprar vivienda no es facil.
            </div>
            <! Legacy >
            <!--div class="fontSize-xxl lineHeight-5 fontWeight-5 px-5 textShadow-close hidden">
                Comprar casa no deberia ser dificil, nosotros hacemos que el proceso sea más facil y transparente.
            </div>
            <div class="fontSize-xxl lineHeight-5 fontWeight-5 px-5 textShadow-close">
                La evolución de las inmobilirias tradicionales y los asesores independientes. 
                La Haus hace que el proceso de comprar casa sea facil y transparente.
            </div-->
            <div class="fontSize-xxl lineHeight-5 fontWeight-6 px-5 textShadow-close">
                La Haus hace que el proceso de comprar vivienda sea facil y transparente, combinando la experiencia de
                nuestros consultores, con la exactitud de la tecnologia.
            </div>
        </div>
        <div class="col-6 mb-5">
            <div class="pt-5">
                <!--<app-extra-expenses-calculator></app-extra-expenses-calculator>-->
                <app-rent-calcutator></app-rent-calcutator>
            </div>
        </div>
        <div class="col">
            <hr class="borderColor-extraDarkSmoke mx-5" style="opacity: 0.5;">
        </div>
    </div>

    <div class="row py-2">
        <div class="col-12 d-flex align-items-center d-flex justify-content-center" style="opacity: 0.7;">
            <img class="mr-4" height="50" src="./../../assets/images/partners/acierto.png" alt="Acierto">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/arquitecturayconcreto.png" alt="Arquitectura y Concreto">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/amarilo.png" alt="Amarilo">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/conaltura.png" alt="Conaltura">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/bienesybienes.png" alt="Bienes y bienes">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/constructora-colpatria.png" alt="Constructora Colpatria">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/londonogomez.png" alt="Londoño Gomez">
            <img class="ml-3 mr-4" height="50" src="./../../assets/images/partners/optima.png" alt="Optima">
            <img class="ml-3" height="50" src="./../../assets/images/partners/umbral.png" alt="Umbral">
        </div>
    </div>

</section>
