<div class="app-extra-expenses-calculator fontFamily-sourceSansPro ma-bg-white p-4 borderRadius-sm boxShadow-float">

  <p class="fontSize-xxl lineHeight-6 color-slate fontWeight-6 m-0 mb-4">
    Descubre los gastos extra a la hora de comprar vivienda
  </p>

  <p class="color-silver fontSize-md fontWeight-6 text-uppercase m-0 mb-1">
    presupuesto
  </p>

  <input type="text" 
         class="ma-input ma-input--lg ma-input--block mb-2" 
         placeholder="$250'000.000">
  
  <div class="fontSize-xxxxl color-negative fontWeight-9 text-center">
    $3'000.000 COP <span><i-help-circle></i-help-circle></span>
  </div>

  <hr class="borderTopStyle-dashed">

  <p class="fontSize-xl color-silver text-center m-0 mb-2">
      Compra con nosotros, estos gastos los pagamos por ti
  </p>
  
  <button class="ma-btn ma-btn--primary ma-btn--lg ma-btn--block">
    Comencemos
  </button>
  
</div>
